* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: dimgray;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.img-flag {
  float: left;
  max-width: 100%;
  height: auto;
  padding: 5px;
}

.banner hr {
  height: 9px;
  background: url(http://jetzt-deins.de/ebay/img/hr-02.png);
  border: 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: center;
  padding: 1em;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.Grid--top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.Grid--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.Grid--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
   align-items: center;
}

.Grid--justifyCenter {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  flex-direction: row;
}

.shirt {
  text-align: center;
  padding: 10px;
}

.border {
  box-shadow: 0 5px 10px #999999;
  border: solid 10px;
  border-color: #ffffff;
}

h2.shirtinfo {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  margin: 0;
  padding: 14px;
  background: Linen;
  border: 1px solid DarkSlateGray;
}

h2.urlaub {
  border: 3px dashed red;
  color: red;
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shadow {
  box-shadow: 0 5px 10px #999999;
  padding: 10px;
  margin: 5px 10px;
  border: 1px solid DarkSlateGray;
}


/*  GO 50% WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (min-width: 768px) {
  .details,
  {
    display: flex;
  }
  .shadow {
    flex: 1 1 48%;
  }

  .display {
    display: flex;
  }
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
  .details {
    display: flex;
    flex-direction: column;
  }
  .display {
  	display: flex;
    flex-direction: column;
  }
}

/*  GRID END  ===========================================*/

